<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcKNNjOyOE-X1g8H7-d-71wIIprtWnoG4</string>
	<key>GCM_SENDER_ID</key>
	<string>9204742461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eviseek.FactsApp</string>
	<key>PROJECT_ID</key>
	<string>brnofacts</string>
	<key>STORAGE_BUCKET</key>
	<string>brnofacts.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9204742461:ios:33b27d36e8701b24d32d54</string>
</dict>
</plist>